<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>My super sweet dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="PullRequests" data-id="github"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="errbit" data-view="Errbit"></div>
    </li>


    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <%# <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div> %>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="google_calendar" data-view="GoogleCalendar"></div>
    </li>
  </ul>
</div>
